@import 'bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: 'Relative';
  src: local('Relative Medium'), url(./assets/fonts/relative.ttf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
html,body{
  margin: 0;
  height: 100%;
  font-family: 'Relative' !important;
  background-color: #181621;
}
#root{
  height: 100%;
}